/*Linkeo con paginas scss */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  header ul {
    display: flex;
    list-style: none; }
    header ul li {
      margin: 10px; }

.footer ol {
  list-style: none;
  display: flex;
  background-color: #B08968;
  color: black;
  justify-content: space-around;
  font-weight: bold;
  padding: 8px; }

.footer i {
  margin: 10px; }

.footer p {
  text-align: center;
  font-weight: bold; }

.main-index {
  padding: 20px; }
  .main-index form {
    text-align: end; }
  .main-index h1 {
    text-align: center;
    color: #cb8707; }
  .main-index h3 {
    text-align: center; }
  .main-index div .card-title {
    text-decoration: underline; }
  .main-index div .btn-card {
    background-color: #eaf42b;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: black; }

.main-tienda {
  padding: 20px; }
  .main-tienda form {
    text-align: end; }
  .main-tienda h1 {
    text-align: center; }
  .main-tienda div .card-title {
    text-decoration: underline; }
  .main-tienda div .btn-card {
    background-color: #eaf42b;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: black; }
  .main-tienda div .card-img-top {
    overflow-y: hidden; }

.main-sucursales {
  padding: 20px; }
  .main-sucursales form {
    text-align: end; }
  .main-sucursales h1 {
    text-align: center; }
  .main-sucursales .maps {
    display: flex;
    justify-content: space-between; }
  .main-sucursales .direc {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    margin: 20px; }

.main-nosotros {
  padding: 20px; }
  .main-nosotros form {
    text-align: end; }
  .main-nosotros h1 {
    text-align: center; }

.us {
  flex-direction: row;
  display: flex;
  justify-content: space-between; }
  .us .div1,
  .us .div2,
  .us .div3 {
    justify-items: center;
    display: flex;
    text-align: center; }

.main-contacto {
  padding: 20px; }
  .main-contacto .form1 {
    text-align: end; }
  .main-contacto h1 {
    text-align: center; }
  .main-contacto p {
    color: brown;
    padding-top: 20px;
    text-align: center;
    font-size: larger; }
  .main-contacto .form-contacto {
    display: grid;
    width: 50%; }
  .main-contacto input {
    margin: 10px; }

@media (max-width: 695px) {
  .header {
    flex-direction: column;
    padding: 20px;
    font-size: small; }
  .header img {
    width: 150px; }
  .header form {
    text-align: center; }
  .footer ol {
    flex-wrap: wrap; }
  main .row {
    justify-content: center; }
  .us .div1, .div2, .div3 {
    width: min-content;
    flex-wrap: wrap; }
  .main-contacto p {
    font-size: x-small;
    box-sizing: content-box; }
  .main-sucursales .maps {
    flex-direction: column;
    margin: 20px; } }
