.main-contacto{
    padding: 20px;
    .form1{
        text-align: end;
    }
    h1{
        text-align: center;
    }
    p{
        color: brown;
        padding-top: 20px;
        text-align: center;
        font-size: larger;
    }
    .form-contacto{
        display: grid;
        width: 50%;
    }
    input{
        margin: 10px;
    }
}

