.footer {
    ol {
    list-style: none;
    display: flex;
    background-color: #B08968;
    color: black;
    justify-content: space-around;
    font-weight: bold;
    padding: 8px;
    }
    i{
        margin: 10px;
    }
    p{
        text-align: center;
        font-weight: bold;
    }
}