header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ul {
        display: flex;
        list-style: none;
        li{
            margin: 10px;
        }
    }
}