    .main-index{
        padding: 20px;
        form{
            text-align: end;
        }
        h1{
        text-align: center;
        color: rgb(203, 135, 7);
        }
        h3{
        text-align: center;
        }
        div{
            .card-title{
                text-decoration: underline;
            }
            .btn-card{
                background-color: rgb(234, 244, 43);
                border-radius: 20px;
                text-decoration: none;
                padding: 10px;
                color: black;
            }
        }
    }
        
