@media (max-width: 695px){
    .header{
        flex-direction: column;
        padding: 20px;
        font-size: small;
    }
    .header img{
        width: 150px;
    }
    .header form{
        text-align: center;
    }
    .footer ol{
        flex-wrap: wrap;
    }
    main .row{
        justify-content: center;
    }
    .us .div1,.div2,.div3{
        width: min-content;
        flex-wrap: wrap;
    }
    .main-contacto p{
        font-size: x-small;
        box-sizing: content-box;
    }
    .main-sucursales .maps{
        flex-direction: column;
        margin: 20px;
    }
}

