.main-nosotros {
    padding: 20px;

    .busca {
        text-align: end;
    }

    h1 {
        text-align: center;
    }

    .grid-container {
        display: grid;
        flex-direction: column;
        img {
            justify-items: center;
            width: 350px;
            height: 219px;
            margin: 20px;
            padding: 20px;
            box-sizing: initial;
        }
    }
}