.main-tienda{
    padding: 20px;
    form{
        text-align: end;
    }
    h1{
        text-align: center;
    }
    div{
        .card-title{
            text-decoration: underline;
        }
        .btn-card{
            background-color: rgb(216, 161, 12);
        }
        .card-img-top{
            overflow-y: hidden;
        }
    }
}